.main-banner {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100vh;
}

.main-banner img{
    height:100%;
}

.main-banner-wrapper {
    position: relative;
}

.banner-text-wrapper {
    position: absolute;
    left: 0;
    z-index: 1;
    bottom: 30%;
    text-align: left;
    color: var(--color-white);
    width: 300px;
    padding: 0 15px;
}

.banner-text-wrapper .author_name {
    font-size: var(--heading-h1);
    font-family: cursive;
    margin-bottom: 10px;
}

.banner-text-wrapper  .author_details {
    font-size: var(--font-size-normal);
    line-height: 1.6;
    font-weight: 600;
}

.blinker {
  background: currentColor;
  width: 2px;
  height: 1em;
  display: inline-block;
  margin-left: 4px;
  animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
