.popup-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    scale: 0;
    transition: all .3s ease-in-out;
}

.popup-wrapper.active {
    scale: 1;
    z-index: 1000;
}

.popup-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100vh;
}

.popup {
    width: 100%;
    max-width: 600px;
    height: calc(100vh - 40px);
    background: Var(--color-white);
    border-radius: 10px;
    padding: 15px;
}