.contact-info-wrap.flex-item, .contact-form-wrapper.flex-item {
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.contact-info-wrap.flex-item {
    display: block;
    width: 100%;
    max-width: 400px;
}

.contact-form-wrapper.flex-item {
    display: block;
    width: 100%;
    max-width: calc(100% - (var(--column-gap) + 400px));
}

.contact-list-item {
    --column-gap: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--column-gap);
}

.contact-list-item:not(:last-child) {
    margin-bottom: 40px;
}

.contactlist-icon-wrapper {
    display: inline-block;
    width: 100%;
    max-width: 50px;
    height: 50px;
}

.contactlist-icon-wrapper span.contactlist-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 100%;
    background: var(--section-bg-blue);
    width: 100%;
    height: 100%;
    color: var(--color-light-blue);
    transition: all .3s ease-in-out;
}

.contactlist-icon-wrapper span.contactlist-icon svg {
    width: 20px;
    height: 20px;
}

.contact_title {
    font-size: var(--heading-h4);
}

.contact-description-wrapper {
    display: inline-block;
    text-decoration: none;
    font-style: italic;
    color: currentColor;
    transition: all .3s ease-in-out;
}

.contact-description {
    font-size: var(--font-size-small);
    transition: all .3s ease-in-out;
}

.contact-description:hover {
    letter-spacing: 1px;
}

.contact-list-item:hover .contactlist-icon {
    background: var(--color-light-blue);
    color: var(--color-white);
}

.contact-list-item:hover .contact-description-wrapper {
    text-decoration: underline;
    text-underline-position: under;
}

.contactlist-icon:hover svg {
    transition: all .3s ease-in-out;
    animation: viberate 1s ease-in-out infinite;
}

@keyframes viberate {
    0%{
        rotate: 0deg;
    }
    20%{
        rotate: -10deg;
    }
    50%{
        rotate: 0deg;
    }
    7%{
        rotate: 10deg;
    }
    100%{
        rotate: 0deg;
    }

}

/* Form Css */

.contact-form label {
    display: inline-block;
    padding-bottom: 8px;
}

.contact-form input,
.contact-form textarea {
    --border-color: color-mix(in srgb, #272829, transparent 80%);
    padding: 10px 15px;
    box-shadow: none;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    outline: none;
    transition: all .1s ease-in-out;
}

.contact-form input:focus,
.contact-form textarea:focus,
.contact-form input:focus-visible,
.contact-form textarea:focus-visible {
    --border-color :var(--color-light-blue);
    outline: 1px solid var(--border-color);
    outline-offset: 2px;
}

.contact-form button {
    background: var(--color-light-blue);
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    color: var(--color-white);
}

.contact-form button:hover {
    background: var(--swiper-theme-color);
    font-weight: 600;
}