*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root{

/* Text Sizes  */

--font-size-tiny : 10px;
--font-size-extra-small : 12px;
--font-size-small : 14px;
--font-size-medium : 16px;
--font-size-normal : 18px;
--heading-h6 : var(--font-size-small);
--heading-h5 : var(--font-size-normal);
--heading-h4 : 20px;
--heading-h3 : 24px;
--heading-h2 : 28px;
--heading-h1 : 32px;

/* Font Weigths */

--font-weight-el : 200;
--font-weight-light: 300;
--font-weight-regular : 400;
--font-weight-medium:500;
--font-weight-bold:600;
--font-weight-extra-bold:700;
--font-weight-bolder:800;

/* colors */

--color-white : rgb(255 255 255 );
--color-black :rgb(0 0 0  );
--aside-bg-color : rgb(37 38 57);


}

img{
  display: block;
  width: 100%;
  object-fit: cover;
}