*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--body-font-family);
}


.App {
  text-align: left;
}

.container {
  display: block;
  width: 100%;
  max-width: 1440px;
  margin: 0px auto;
  padding: 0px 15px;
}

.section-container{
  padding:60px 0 ;
}

.pt-0{
  padding-top: 0;
}

.pb-0{
  padding-bottom: 0;
}

.text-center{
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root{


  
/* Text Sizes  */
--font-size-body : 16px;
--font-size26: 26px;
--font-size-tiny : 10px;
--font-size-extra-small : 12px;
--font-size-small : 14px;
--font-size-medium : 16px;
--font-size-normal : 18px;
--heading-h6 : var(--font-size-small);
--heading-h5 : 16px;
--heading-h4 : 18px;
--heading-h3 : 26px;
--heading-h2 : 32px;
--heading-h1 : 64px;
--row-gap : 20px;
--column-gap : 24px;
/* Font Weigths */

--font-weight-el : 200;
--font-weight-light: 300;
--font-weight-regular : 400;
--font-weight-medium:500;
--font-weight-bold:600;
--font-weight-extra-bold:700;
--font-weight-bolder:800;

/* Font Families */

--heading-font-family : "Raleway" , sans-serif;
--body-font-family : "Roboto" , sans-serif;

/* colors */

--color-white : #ffffff;
--color-black :#000000;
--aside-bg-color : rgb(37, 38, 57);
--color-light-blue:#149ddd;
--body-text-color: #272829;
--section-bg-blue: #f4fafd;
--border-color : var(--color-light-blue);

}

img{
  display: block;
  width: 100%;
  object-fit: cover;
}

body{
  font-size: var(--font-size-body);
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  font-family: var(--body-font-family); 
  color:#272829;
}


h1, h2, h3, h4, h5, h6{
  font-family: var(--heading-font-family);
  font-weight:var(--font-weight-extra-bold);
  line-height: 1.5;
  margin-bottom: 8px;
  letter-spacing: 1px;
  color:#050d18;
}

h1{
  font-size: var(--heading-h1);
}

h2{
  font-size: var(--heading-h2);
}

h3{
  font-size: var(--heading-h3);
}

h4{
  font-size: var(--heading-h4);
}

h5{
  font-size: var(--heading-h5);
}

h6{
  font-size: var(--heading-h6);
}

p{
  font-size: var(--font-size-body);
  color: var(--body-text-color); 
}

.fs-italic{
  font-style: italic;
}



.flex{
  display: flex;
  flex-wrap: wrap;
  gap: var(--row-gap) var(--column-gap);

}

.flex-row-2 .flex-item{
  width: 100%;
  max-width:calc(50% - (var(--column-gap)  / 2));
}

.flex-row-3 .flex-item{
  width: 100%;
  max-width:calc(33.3% - (var(--column-gap) * 2 / 3));
}

.flex-row-4 .flex-item{
  width: 100%;
  max-width:calc(25% - (var(--column-gap) * 3 / 4));
}

.half-width{
width: 100%;
max-width: calc(50% - (var(--column-gap) / 2));  
}

.full-width{
  width:100%;
  max-width: 100%;
}

/* menu */

.menu-btn {
    position: fixed;
    right: 30px;
    top: 20px;
    z-index: 2;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: var(--color-light-blue);
    color: var(--color-white);
}

.menu-btn svg{
  scale:1;
  animation: Scaleup .2s linear 1 forwards ;
}

@keyframes Scaleup {
  0%{
    scale:0;
  }

  100%{
    scale:1;
  }
}

@media screen and (max-width:1024px){
  .flex-row-3 .flex-item{
    max-width:100;
  }

  .flex-row-3 .flex-item{
    width: 100%;
    max-width:calc(50% - (var(--column-gap) / 2));
  }

.flex-row-4 .flex-item{
  width: 100%;
  max-width:calc(33.33% - (var(--column-gap) * 2 / 3));
}
}

@media (max-width:767px){
  .half-width{
    max-width: 100%;
  }

  .section-container{
    padding: 40px 0;
  }

  .flex-row-3 .flex-item{
  width: 100%;
  max-width:100%;
}

.flex-row-4 .flex-item{
  width: 100%;
  max-width:100%;
}
}

body .swiper-pagination {
  position: static;
  margin-top: 15px;
}

.overflow-hidden {
  overflow: hidden;
  background: #00000020;
}